/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  background-image: url(img/novosite.jpg);
  background-repeat: no-repeat;     /* evita repetir */
  background-size: cover;           /* faz a imagem preencher a tela */
  background-position: center;      /* centraliza a imagem */
  height: 100%;
  text-align:center;
  color:white;
}



.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-radius: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.text-bg-purple{
  background-color: #333;
}
