* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;

}

body {
  background-color: none;
  background-image: url(img/outra.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: rgba(44, 44, 106, 0.85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.titulo {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}


.voltar {
  position: absolute;
  right: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.voltar:hover {
  color: #1efc7d;
  
}



.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.logo h1 {
  font-size: 2.5rem;
  justify-content: center;
  text-align: center;
}

.logo span {
  color: #e7dfdf;
  justify-content: center;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.login-container {
  display: flex;
  gap: 500px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 20px;
  width: 380px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.95rem;
}

button {
  background-color: #2c2c6a;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1efc7d;
  color: #2c2c6a;
}

.forgot {
  font-size: 0.8rem;
  color: #333;
  text-align: right;
  margin-bottom: 10px;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: rgba(44, 44, 106, 0.85);
  color: white;
  text-align: center;
  padding: 5px 10px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 5px 15px 1 1;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-content p {
  font-size: 1.0rem;
}

.social {
  display: flex;
  gap: 15px;
}

.social a {
  color: #1efc7d;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.social a:hover {
  color: white;
  text-decoration: underline;
}